---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)

$LT0:#FFFFFF;
$DK0:#33291E;

$c_A:#009a66;
$c_B:#FF4D00;
$c_C:#FFAA00;

$wdA:480px;
$wdB:768px;
$wdC:992px;
$wdD:1200px;

$cteWdA:600px;
$cteWdB:780px;
$cteWdC:1040px;

$btnHt:5;
$btnHtSwitchWd:$wdB;
$btnHtB:7;

$reduce:2.7;
$logo-width:508.345px / $reduce;

@import "stablegrid";
@import "_ids";
// https://www.google.com/fonts#UsePlace:use/Collection:Josefin+Slab:400,600,700|Roboto:400,900,700|Raleway:400,900,800,700,600,500|Roboto+Slab:400,700|Roboto+Condensed:400,700

// font-family: 'Josefin Slab', serif
// Josefin+Slab:400,600,700|

// font-family: 'Roboto', sans-serif
// Roboto:400,900,700|

// font-family: 'Raleway', sans-serif
// Raleway:400,900,800,700,600,500|

// font-family: 'Roboto Slab', serif
// Roboto+Slab:400,700

// font-family: 'Roboto Condensed', sans-serif
// Roboto+Condensed:400,700

body{
	background-color: white;
	padding: 0 3rem;
}

p{
	color:$DK0;
	font-family: courier;
	line-height: 2rem;
	font-size: 1.5rem;
}
a,a:link,a:visited{
	color:$DK0;
}
article + h1{
	// margin-top: 0 !important;
}
article{
	h1,h2,h3,h4,h5,h6{
		&:first-child{
			margin-top: 0 !important;
		}
	}
	a,a:link,a:visited{

		color: $c_A;
	}

}
h1,h2{
	margin-top: 5rem;
	font-size: 4rem;
	font-family: 'Josefin Slab';
	font-weight: 700;
	text-align: center;
	border-bottom:5px solid $DK0;
	margin-bottom:3rem;
	padding-bottom:1rem;
	text-transform: uppercase;
}
h1{
	// border-bottom:5px dotted $DK0;
	border-bottom: 0;
	&:after{
		content: ' ';
		height: 10px;
		width: 100%;
		background-image: url(../images/elements/dots_grey.png);
		background-repeat: repeat-x;
		background-position: bottom center;
		background-size: 10px;
		display: block;
	}
}

.cte{
	position: relative;
}
.reference{
	text-align: right;
}
img + em{
	color: #AAA;
	text-align: right;
	display: block;
	margin-top: 1rem;
	font-style: italic;
}	