<header id="header" class="cte WdB">
  <img src="{{'/images/logo/tup_logo_05.svg' | prepend: site.baseurl }}" alt="">
  <nav id="header-nav">
    <div class="o-tbl">
      <div class="tbl">
        <div class="cll m_hideB" style="width:131px;background-position:left bottom;"></div>


        {% assign pages = site.pages | sort: 'menuorder' %}
        {% for page in pages %}
          {% if page.title and page.menuorder %}
          <div class="cll">
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </div>
          {% endif %}
        {% endfor %}
        <div class="cll m_hideB" style="width:131px;background-position:right bottom;"></div>
      </div>
    </div>
  </nav>
</header>